doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="theme-color", content="#840c0c")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500", rel="stylesheet")
    link(rel='apple-touch-icon', sizes='76x76', href='/img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/img/favicon/site.webmanifest')
    link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#f0dfad')
    meta(name='msapplication-TileColor', content='#f0dfad')

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    #header
      .header-left
        a(href='/')
          img(src="http://via.placeholder.com/100x50/f0dfad/333?text=dummy%20logo", alt="logo-ramayana-ballet")
        a.header-link(href='')
          span= h.bo
        a.header-link(href='')
          span= h.atrak
        a.header-link(href='')
          span= h.ja
        a.header-link(href='')
          span= h.pt
      .header-center
        a(href='/')
          img(src="http://via.placeholder.com/100x50/f0dfad/333?text=dummy%20logo", alt="logo-ramayana-ballet")
      .header-right
        i.fa.fa-bars.burger-icon
        .header-link
          .lang-select.header-dropdown
            p= lang.toUpperCase()
            ul.lang-opt
              each lang in h.languageSelection
                li.opt
                  if oriUrlMinLang === '/'
                    a(href='/' + lang)= lang.toUpperCase()
                  else
                    a(href='/' + lang + oriUrlMinLang)= lang.toUpperCase()
    #side-menu
      a.side-menu-link(href='')
        span= h.bo
        i.fa.fa-chevron-right
      a.side-menu-link(href='')
        span= h.atrak
        i.fa.fa-chevron-right
      a.side-menu-link(href='')
        span= h.ja
        i.fa.fa-chevron-right
      a.side-menu-link(href='')
        span= h.pt
        i.fa.fa-chevron-right
      .side-menu-link
        .lang-select.side-menu-dropdown
          p= lang.toUpperCase()
          ul.lang-opt
            each lang in h.languageSelection
              li.opt
                if oriUrlMinLang === '/'
                  a(href='/' + lang)= lang.toUpperCase()
                else
                  a(href='/' + lang + oriUrlMinLang)= lang.toUpperCase()
    #body-content
      block body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="/js/header.js")